// import font from google
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');
// variables
$nav_color:rgb(230, 230, 230);
$black_color:rgba(0, 0, 0, .87);
$white_color:rgb(255, 255, 255);
$green_color:rgb(35, 188, 58);

$primary_color:rgb(245, 244, 245);
$default_font_size:62.5%;

// mixins
@mixin respond($breakpoint) {
    @if $breakpoint==phone {
        @media only screen and (max-width: 37.5em) {
            @content
        }
    }

    @if $breakpoint==tab-port {
        @media only screen and (max-width: 56.25em) {
            @content
        }
    }

    @if $breakpoint==tab-land {
        @media only screen and (max-width: 75em) {
            @content
        }
    }

    @if $breakpoint==big-desktop {
        @media only screen and (min-width: 112.5em) {
            @content
        }
    }
}

;
// clear default values

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

// To clear focus
* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
    outline: none !important;
}

html {
    // font-size: 62.5%; //  10/16 => 1rem
    font-size: $default_font_size;
    scroll-behavior: smooth; //  For smooth scrolling

    // To include Mixins
    @include respond(big-desktop) {
        font-size: 75%;
    }

    @include respond(tab-land) {
        font-size: 56.25%;
    }

    @include respond(tab-port) {
        font-size: 50%;
    }

    @include respond(phone) {
        font-size: 50%;
    }
}

body {
    position: relative;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: $primary_color;
}

// header
// navbar
.navbar_container {
    height: 9.16rem;
    position: sticky;
    top: 0;
}

.navbar {
    background-color: $nav_color;
    // height: 4.8rem;
    height: 50%;
    display: flex;
    align-items: center;

    &_logo {
        flex: 1;
        display: flex;
        margin-left: 9rem;

        &-image {
            width: 7%;
        }
    }

    &_menu {
        flex: 1;
        margin: 0 auto;
        display: flex;
        justify-content: flex-start;
        font-weight: 400;
        font-size: 1.6rem;
        color: $black_color;

        &-link {
            color: $black_color;
            text-decoration: none;
            text-transform: capitalize;

        }

        &-link:not(:last-child) {
            margin-right: 8rem;
        }
    }

    &_mobile {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        cursor: pointer;

        .bar_line {
            width: 18px;
            height: 2px;
            background-color: $black_color;
            margin-top: .3rem;
            margin-right: 9rem;
        }
    }

}

// second nav
.second_nav {
    height: 50%;
    // height: 4.8rem;
    // position: sticky;
    // top: 0;
    // z-index: 1;
    background-color: $white_color;

    &-menu {
        display: flex;
        color: $black_color;
        height: 100%;
        width: 70%;
        margin: 0 auto;
        justify-content: center;
        align-items: center;

        &-links {
            font-size: 1.3rem;
            text-decoration: none;
            text-transform: capitalize;
            color: rgba(0, 0, 0, .5);
            margin-right: 3rem;
        }
    }
}

.banner {
    background-color: $primary_color;

    &_image {
        text-align: center;

        & img {
            width: 50%;
            margin-top: 5rem;
        }
    }
}

.secondary_heading {
    &-container {
        text-align: center;
        margin-top: 1rem;
    }

    &-text {
        // font-weight: 400;
        display: inline;
        font-size: 2.5rem;
        padding-bottom: .5rem;
        border-bottom: .4rem solid $black_color;
    }
}

.secondary_paragraph {
    font-size: 1.6rem;
    font-weight: 300;
    letter-spacing: .1rem;
    margin: 2rem auto 12rem auto;
}

.video {
    // width: 100vw;
    // height: 100vh;
    overflow: hidden;

    &_container {
        width: 100%;
        text-align: center;
    }

    &_image {
        width: 85%;
        height: 105vh;
    }
}

// perfomance
.perfomance {
    &_heading-container {
        margin: 20rem auto 10rem auto;
        text-align: center;
    }
}

// keyframes
@keyframes makeBig {
    0% {
        width: 85%;
    }

    25% {
        width: 88%;
    }

    50% {
        width: 92%;
    }

    75% {
        width: 96%;
    }

    100% {
        width: 100%;
        // transform: scale(1.2);
    }
}

@keyframes makeSmall {
    0% {
        width: 100%;
    }

    25% {
        width: 96%;
    }

    50% {
        width: 92%;
    }

    75% {
        width: 88%;
    }

    100% {
        width: 85%;
        // transform: scale(.9);
    }
}

.animation_big {
    animation: makeBig 1s linear;
    animation-fill-mode: both;
}

.animation_small {
    animation: makeSmall 1s linear;
    animation-fill-mode: both;
}

.sticky {
    position: sticky;
    top: 0;
}

.animation_height_shrink {
    animation: makeHeightZero .5s linear;
    animation-fill-mode: both;
    // display: none;
}

@keyframes makeHeightZero {
    0% {
        height: 50%;
    }

    25% {
        height: 30%;
    }

    50% {
        height: 20%;
    }

    75% {
        height: 10%;
    }

    100% {
        height: 0%;
    }
}

.width-30 {
    width: 30%;
}

.small_heading {
    color: rgba(0, 0, 0, .5);
    font-size: 1.6rem;
    // text-transform: capitalize;
}

.primary_heading {
    font-size: 3.2rem;
    letter-spacing: .2rem;
    font-weight: 700;
    // text-transform: capitalize;
}